.errorMessage {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

.container {
    width: 120%;
    max-width: 450px;
    /* margin: 0 auto; */
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial;
    /* border: 1px solid black; */
  }
  
  .heading {
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
    margin-bottom: 30px;
    color: #0d0d0d;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    width: 100%;
    margin-bottom: 0px;
    text-align: left;
    margin-top: 5px;
  }
  
  .label {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #0d0d0d;
    font-family: Arial;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    /* margin-top: 5px ; */
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    margin-top: 5px;
  }
  
  .input:focus {
    border-color: #ef9273;
    outline: none;
  }
  
  .button {
    width: 100%;
  padding: 14px;
  background-color: #ef9273;
  color: #0d0d0d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    background-color: #633222;
    color: #fff;
    }


  .passwordWrapper {
    position: relative;
  }
  
  .eyeButton {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    color: #0d0d0d;
    
  }
  
  .eyeButton:focus {
    outline: none;
  }
  
  .linksContainer {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }
  
  .link {
    color: #017e84;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .text {
    margin-top: 10px;
    color: #0d0d0d;
  }
  
  
  /* Responsive Design */
  
  /* For tablets */
  @media (max-width: 768px) {
    .container {
      max-width: 90%;
      padding: 25px;
    }
  
    .button {
      font-size: 14px;
      padding: 12px;
    }
  }
  
  /* For mobile devices */
  @media (max-width: 480px) {
    .container {
      padding: 20px;
    }
  
    .heading {
      font-size: 22px;
    }
  
    .button {
      font-size: 14px;
      padding: 12px;
    }
  }
  