.sidebarWrapper {
  margin-top: 70px;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #fef9f8;
  color: #0d0d0d;
  transition: left 0.3s;
  padding: 8px;
}

.contentMenu {
  width: 100%;
}

/* Sidebar menu styles */
.sidebar ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.sidebar ul li {
  margin: 0;
}

.sidebar ul li a {
  color: #0d0d0d;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
}

/* Submenu styles */
.submenu {
  /* border: 1px solid black; */
  position: absolute;
  left: 100%;
  top: 4%;
  background-color: #fef9f8;
  padding: 10px;
  display: flex;  /* Makes submenu items appear in a row */
  flex-direction: row; 
  gap: 10px; /* Space between submenu items */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000;
}

.submenuItem {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.submenuButton {
  background: none;
  border: none;
  color: #0d0d0d;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

.submenuButton:hover {
  color: #ef9273;
}

/* Sidebar menu item */
.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menuItem:hover {
  background-color: #ef9273;
}

.icon {
  margin-right: 10px;
}

.title {
  flex: 1;
}

/* Sidebar toggle button */
.hamburgerButton {
  position: fixed;
  top: 10px;
  left: 25px;
  background: transparent;
  border: none;
  color: #0d0d0d;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

/* Divider */
.menuDivider {
  border: 0;
  height: 1px;
  background: #555;
  margin: 10px 0;
}

.menuItem.logout {
  margin-top: auto;
  color: #ff4d4d;
}

.menuItem.logout:hover {
  background-color: #660000;
}

/* Responsive styles */
@media (max-width: 480px) {
  .sidebar {
    width: 50px;
    position: fixed;
    transition: left 0.3s ease-in-out;
  }

  .hamburgerButton {
    left: 10px;
  }

  .menuItem {
    font-size: 16px;
    padding: 10px 5px;
  }

  .submenu {
    flex-direction: row;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .sidebar {
    width: 40px;
    position: fixed;
    left: 0;
    transition: left 0.3s ease-in-out;
  }

  .hamburgerButton {
    left: 10px;
  }

  .contentMenu {
    width: calc(100% - 55px);
  }

  .submenu {
    flex-direction: row;
  }
}

@media (min-width: 769px) {
  .sidebar {
    width: 250px;
  }

  .menuItem {
    font-size: 20px;
    padding: 20px 15px;
  }

  .submenu {
    flex-direction: row;
  }
}

