/* UserTable.module.css */
.tableContainer {
  margin: 20px;
  overflow-x: auto;
  /* border: 2px solid #009879; */
  border-radius: 10px;
  padding: 15px;
}

.usersTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 1000px;
}

.usersTable th,
.usersTable td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
  text-align: left;
}

.usersTable thead tr {
  background-color:  #ef9273;
  color: #ffffff;
  border-bottom: 2px solid  #ef9273;
}

.usersTable tbody tr {
  transition: all 0.3s ease;
}

.usersTable tbody tr:nth-of-type(even) {
  background-color: #f8f8f8;
}

.usersTable tbody tr:last-of-type {
  border-bottom: 2px solid  #ef9273;
}

.usersTable tbody tr:hover {
  background-color: #e6f7f3;
  transform: scale(1.01);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.usersTable th {
  position: sticky;
  top: 0;
  background-color:  #ef9273;
}
/* UserTable.module.css */
.pagination {
  margin: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.paginationButton {
  padding: 8px 16px;
  border: 1px solid #009879;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.paginationButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  border-color: #ccc;
}

.paginationButton:hover:not(:disabled) {
  background-color:  #ef9273;
  color: white;
}

.pageNumber {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.pageNumber.active {
  background-color:  #ef9273;
  color: white;
  border-color: #009879;
}

.pageSizeSelect {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #009879;
  margin-left: 20px;
}