/* src/components/LeaveManagement.module.css */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fef9f8;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .leaveForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select,
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #ef9273;
    color: #0d0d0d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #633222;
    color: #fff;
  }
  
  .leaveList {
    margin-top: 30px;
  }
  
  .leaveList ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .leaveList li {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .leaveList span {
    font-weight: bold;
  }
  