/* Navbar Container */
.navbar {
    background-color: transparent;
    background-color: rgb(248, 238, 238);
    color:#C0C0C0;
    max-width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 20%;
    margin-top: 0px;
    padding-top: 0px;
    /* position: fixed; */
    /* border: 1px solid black; */
  }
  
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo */
  .logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #C0C0C0;
    margin-left: 30%;
  }
  
  /* Buttons */
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .signup {
    background-color: black;
    /* background-color: transparent; */
    color:#C0C0C0;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .signup:hover {
    background-color: #fff;
    color: #000;
  }
  
  .login {
    background-color: black;
    /* background-color: transparent; */
    color:#C0C0C0;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login:hover {
    background-color: #fff;
    color: #000;
  }