.container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial;
  }
  
  h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #0d0d0d;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #0d0d0d;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ef9273;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #0d0d0d;
    background-color: #ef9273;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #633222;
    color: #fff;
  }
  .backLink {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
  
  .backLink:hover {
    color: #0056b3;
  }
  
  
  @media (max-width: 600px) {
    .container {
      padding: 15px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    .button {
      font-size: 0.9rem;
    }
  }
  