
.userProfileContainer {
    max-width: 1000px;
    margin-left: 20%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial;
  }

.profileImageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }
  
  
  .heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profileDetails {
    margin-bottom: 20px;
  }
  
  .detailRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
    color: #555;
  }
  
  .value {
    color: #333;
  }
  
  .attendanceSheet,
  .taskSection {
    margin-bottom: 20px;
  }
  
  .subHeading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #444;
  }
  
  .attendanceTable,
  .taskTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .attendanceTable th,
  .taskTable th,
  .attendanceTable td,
  .taskTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .attendanceTable th,
  .taskTable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .editButton {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }
  
  .logoutLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
  }
  
  .logoutLink:hover {
    background-color: #c82333;
  }
   .markButton {
    padding: 10px 20px;
    background-color: #714b67;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .markButton:hover {
    background-color: #a07a96;
  }
  
  .error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }
  .subHeading{
    background-color: gray;
  }
  .lunchButton{
    padding: 10px 20px;
    background-color: #714b67;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .lunchButton:hover {
    background-color: #a07a96;
      color: #fff;
  }
  .stopButton{
    padding: 10px 20px;
    background-color: #714b67;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .stopButton:hover {
    background-color: rgb(204, 28, 28) !important;  
      color: #fff;
  }
 