.app {
  
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 800px;
  overflow: auto; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  height: 650px;
}

.container {
  
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff; 
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.taskForm {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

.createdTasksContainer {
  display: flex;
  flex-direction: column; 
  margin-top: 20px;
  overflow-y: auto; 
  max-height: 300px; 
  padding-right: 10px;
}

.createdTask {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0; 
  background-color: #f9f9f9; 
}

.createdTask h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.createdTask p {
  margin-bottom: 5px;
}

.taskRow {
  display: flex;
  gap: 15px; 
  flex-wrap: wrap; 
}

.projectSelect,
.taskInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  flex: 1; 
  min-width: 150px; 
}

.taskTextarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
  height: 150px;
  width: 100%;
}

button {
  padding: 10px 15px;
  background-color: #ef9273;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  width: 200px;
}

button:hover {
  background-color: #d17a5e;
}

.timer {
  margin-left: 10px;
  font-weight: bold;
}

.viewTasks {
  margin-top: 20px;
  background-color: #ef9273;
}

.viewTasks:hover {
  background-color: #d17a5e;
}

.timerControls {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.timerButton {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #5cb85c; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.timerButton:hover {
  background-color: #4cae4c; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .taskRow {
    flex-direction: column; 
  }

  .projectSelect,
  .taskInput {
    width: 100%; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px; 
  }

  button {
    width: 100%; 
  }
}